version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "8000"
    restart: always

frontend:
  build:
    context: ./frontend
    args:
      NEXT_PUBLIC_API_URL: http://backend:8000
  container_name: frontend
  ports:
    - "80:3000"
  depends_on:
    - backend
  restart: always
